/* 
- Name: Raw project - colors.scss
- Version: 1.0
- Latest update: 19.06.2016
- Author: Mario Loncarek
- Author web site: http://marioloncarek.com
*/

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
BACKGROUNDS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.bg-primary {
  background-color: $primary;
}

.bg-secondary {
  background-color: $secondary;
}

.bg-tertiary {
  background-color: $tertiary;
}

.bg-error {
  background-color: $error;
}

.bg-warning {
  background-color: $warning;
}

.bg-success {
  background-color: $success;
}

.bg-neutral {
  background-color: $neutral;
}

.bg-white {
  background-color: $white;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
COLORS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.color-primary {
  color: $primary;
}

.color-secondary {
  color: $secondary;
}

.color-tertiary {
  color: $tertiary;
}

.color-error {
  color: $error;
}

.color-warning {
  color: $warning;
}

.color-success {
  color: $success;
}

.color-neutral {
  color: $neutral;
}

.color-white {
  color: $white;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
LINK OVERRIDES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

a {

  &:hover.border-primary {
    color: $primary;
  }

  &:hover.border-secondary {
    color: $secondary;
  }

  &:hover.border-tertiary {
    color: $tertiary;
  }

  &:hover.border-error {
    color: $error;
  }

  &:hover.border-warning {
    color: $warning;
  }

  &:hover.border-success {
    color: $success;
  }

  &:hover.border-neutral {
    color: $neutral;
  }

  &:hover.border-white {
    color: $white;
  }

}