/*
- Name: Raw project - helpers.scss
- Version: 1.0
- Latest update: 06.11.2016
- Author: Mario Loncarek
- Author web site: http://marioloncarek.com
*/

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
HELPER CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.float-clear {
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-normal {
    font-weight: normal;
}

.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}

.text-underline {
    border-bottom: 1px solid;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.position-fixed {
    position: fixed;
}

.overflow-hidden {
    overflow: hidden;
}

.no-indent {
    margin-left: 0;
    padding-left: 0;
}

.no-bullet {
    list-style: none;
    list-style-image: none;
}

.no-styling {
    margin: 0;
    padding: 0;
    list-style: none;
}

.inline {
    display: inline;
}

.block,
.show {
    display: block;
}

.hidden,
.hide {
    display: none;
}

.invisible {
    display: none;
    visibility: hidden;
}

.visible {
    display: block;
    visibility: visible;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

.radius {
    @include border-radius-radius;
}

.round {
    @include border-radius-round;
}

/* CLEAR AFTER FLOATS */
.clearfix {

    &:before,
    &:after {
        display: table;
        content: ' ';
    }

    &:after {
        clear: both;
    }

}

/* FULL WIDTH SECIONS */
.fw-section {
    padding: $double-spacer 0;
    width: 100%;
}

/* BROWSER UPGRADE */
.browserupgrade {
    background-color: $error;
    padding: 2rem;
    text-align: center;
    color: $white;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999;

    a {
        color: $browser-upgrade-link-color;
        text-decoration: underline;
    }

}