/*
- Name: Raw project - functions.scss
- Version: 1.0
- Latest update: 06.11.2016
- Author: Mario Loncarek
- Author web site: http://marioloncarek.com
*/

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
FUNCTIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* POW - Get raising to the exponent power */
@function pow($number, $exp) {
    $value: 1;
    @if $exp > 0 {
        @for $i from 1 through $exp {
            $value: $value * $number;
        }
    } @else if $exp < 0 {
        @for $i from 1 through -$exp {
            $value: $value / $number;
        }
    }
    @return $value;
}

/// STRIP-UNIT - Remove the unit of a length
/// @param {Number} $number - Number to remove unit from
/// @return {Number} - Unitless number
@function strip-unit($number) {
    @if type-of($number) == 'number' and not unitless($number) {
        @return $number / ($number * 0 + 1);
    }

    @return $number;
}

/* TINT - Slightly lighten a color */
@function tint($color, $percentage) {
    @return mix(white, $color, $percentage);
}

/* SHADE - Slightly darken a color */
@function shade($color, $percentage) {
    @return mix(black, $color, $percentage);
}