/* 
- Name: Raw project - variables.scss
- Version: 1.0
- Latest update: 06.11.2016
- Author: Mario Loncarek
- Author web site: http://marioloncarek.com
*/

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
SCSS VARIABLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* TYPOGRAPHY */

$base-font: ('Muli', sans-serif);
$heading-font: ('Poppins', sans-serif);

$base-letter-spacing: .03em;
$base-font-size: 1.4em; /* Equals 14px */
$base-line-height: 1.5;

/* Baseline calculation  */

$baseline: 2.0rem;

/* Font calculations  */

$h1-font-size: 5.0rem;
$h2-font-size: 4.2rem;
$h3-font-size: 3.6rem;
$h4-font-size: 3.0rem;
$h5-font-size: 2.4rem;
$h6-font-size: 1.6rem;
$small-font-size: .8em;

/* PROJECT SPECIFIC COLORS */

$primary: #0071bc;
$secondary: #f0f0f0;
$tertiary: #e1e1e1;
$error: #f1404b;
$warning: #ffbc00;
$success: #39c892;
$neutral: #4F779F;
$white: #fff;
$disabled: #aaa;

/* BASE COLORS */

$body-background: $white;

$base-font-color: #444;
$heading-font-color: #333;

$link-color: $primary;
$link-color-hover: tint($link-color, 40%);

$selection-color: #b3d4fc; /* Background of selection */

$base: $tertiary; /* Basic core element colors like borders, colors, backgrounds etc... */
$ui-default: #333; /* Default backgrounds for UI elements like buttons, badges etc... */
$typography-special-colors: #777; /* Colors for html tags like em's, italics, abbr's etc... */

$placeholder-color: #aaa; /* Color for placeholder text */

/* SPECIFIC VARIABLES */

$browser-upgrade-link-color: $link-color;

$breadcrumbs-divider-color: $base;

$blockqoute-border-color: $base;
$blockqoute-color: $typography-special-colors;

$input-border-color: $base;
$input-focus-color: $ui-default;
$file-upload-button-background: $ui-default;
$range-slider-thumb: $ui-default;
$range-slider-runnable-track-background: $base;
$form-group-label-background: $ui-default;
$checkbox-radio-border-color: $base;
$checkbox-radio-focus-border-color: $ui-default;
$checkbox-icon-color: $ui-default;
$radio-icon-color: $ui-default;

$pagination-active-background: $primary;
$pagination-hover-color: $base;

$table-row-border-color: $base;

$image-not-found-background: $error;
$image-not-found-border: $base;
$image-not-found-color: $white;

$default-button-background: $ui-default;

$default-badge-background: $ui-default;

$italic-font-color: $typography-special-colors;

$abbr-border-bottom-color: $typography-special-colors;

/* RESPONSIVE - utilities/mixins */

$screen-xl: 87.438em; /* 1399px */
$screen-lg: 74.938em; /* 1199px */
$screen-md: 59.938em; /* 959px */
$screen-sm: 47.938em; /* 767px */
$screen-xs: 25em; /* 400px */

/* GRID VARIABLES - layout/grid */

$row_wide_screen: 80%; /* Wide screen row width from 1399px and up */
$row_1200-1400: 90%; /* Row width from 1200px to 1399px */
$row_960-1200: 90%; /* Row width from 960px to 1199px */
$row_tablet: 100%; /* Tablet row width from 768px to 960px */
$gutter: 1%; /* Gutter width */
$fw-gutter: 1%; /* Full-width gutter width */

/* SPACER SETTINGS - overrides/spacers */

$normal-spacer: ($baseline * 2);
$double-spacer: ($normal-spacer * 2);
$half-spacer: $baseline;